<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet" href="./css/adminbooking.css">
<link rel="stylesheet" href="./css/header.css">
<title>Admin Kamar</title>
</head>
<body>
 <header class="header" id="navigation-menu">
    <div class="container">
      <nav>
        <a href="/" class="logo"> <img src="./img/logo.png" alt=""> </a>

        <ul class="nav-menu">
          <li> <a href="/admin" class="nav-link">Kategori</a> </li>
          <li> <a href="/adminbooking" class="nav-link">Data Pengunjung</a> </li>
          <li> <a href="/" class="nav-link">Rating</a> </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="namapage">
      <p  onclick="kembali()">Abeka Hotel /</p> 
      <a href="/dashboard"> Dashboard</a>
        <script>
            function kembali() {
                window.history.back();
            }
        </script>
  </div>
  <div class="container">
    <h1 class="namadashboard">Abeka Hotel's</h1>
  </div>


  <div class="card border-0 shadow rounded">
    <div class="card-body">
      <h1 class="pengunjung">Data Kamar</h1>
      <a href="/kelolakamar" class="btn btn-md btn-success mb-3">TAMBAH KAMAR</a>
        <table class="table table-bordered">
        <thead>
          <tr>
          <th scope="col">NO.</th>
          <th scope="col">Nama Kamar</th>
          <th scope="col">Harga Kamar</th>
          <th scope="col">Gambar Kamar</th>
          <th scope="col">Aksi</th>
          </tr>
        </thead>
      <tbody>
        <% for (let i=0; i < rooms.length; i++){%>
        <tr>
            <th scope="row" class="text-center"><%= rooms[i].id_rooms%></th>
            <td><%= rooms[i].nama_rooms%></td>
            <td><%= rooms[i].harga_rooms%></td>
            <td> = Gambar</td>
            <td class="text-center">
                <a onclick="return alert('Are You sure?')" href="" class="btn btn-sm btn-danger">HAPUS</a>
                 <td class="text-center">
            </td>
        </tr>
        <% }%>

      </tbody>
      </table>  
      </div>
    </div>
    </div>
  </div>
  </div>

  

<br><br><br><br><br><br><br><br><br>


</body>
</html>