<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/booking2.css">
  <link rel="stylesheet" href="./css/header.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <title>Booking 2</title>
</head>
<body>
    <header class="header" id="navigation-menu">
    <div class="container">
      <nav>
        <a href="/homepage" class="logo"> <img src="./img/logo.png" alt=""> </a>

        <ul class="nav-menu">
          <li> <a href="/homepage" class="nav-link">Home</a> </li>
          <li class="dropdown"><a href="/category">Category</a>
            <ul class="isi-dropdown">
              <li><a href="/rooms" class="nav-link">Rooms</a></li>
              <li><a href="/gallery" class="nav-link">Gallery</a></li>
            </ul>
          </li>
          <li> <a href="/facilities" class="nav-link">Facilities</a> </li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div class="lesson-wrapper">
      <div class="container">
        <div class="heading">
          <h1>Abeka Hotel's</h1>
        </div>
        
    <div class="mainscreen">
      <div class="card">
        <div class="leftside">
          <ul class="product">
            <li><p>Transfer Pembayaran :</p></li>
            <li>Tax 10%</li>
            <li>Sub Total : Rp 450.000</li>
            <li>Sub Total : Rp 495.000</li>
            <li><a> <img class="payment" src="./img/bca.png" alt=""></a></li>
            <li>28322xxxx</li>
            <li>Abeka Hotel's</li>
            <li><a> <img class="payment" src="./img/mandiri.png" alt=""></a></li>
            <li>8721xxxx</li>
            <li>Abeka Hotel's</li>
            <li><a> <img class="payment" src="./img/dana.png" alt=""></a></li>
            <li>08821857xxxx</li>
            <li>Abeka Hotel's</li>
          </ul>
        </div>
        
        <div class="rightside">
          <form action="">
            <h1>Payment</h1>
            <p>Upload Bukti Transfer</p>
            <input type="file" class="inputbox" name="name" required />
            <p>Asal Bank</p>
             <select class="inputbox" name="card_type" id="card_type" required>
              <option value="">--Pilih Bank--</option>
              <option value="">BCA</option>
              <option value="">Mandiri</option>
              <option value="">Dana</option>
            </select>
            <p>Nama Pengirim</p>
            <input type="text" class="inputbox" name="card_number" id="card_number" required />
            <button type="submit" class="button">Submit</button>
            
          </form>
        </div>
      </div>
    </div>
   
    <a href="/success"><button class="button continue">Continue</button></a>
    
</body>
</html>
