<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/booking1.css">
  <link rel="stylesheet" href="./css/header.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
  <title>Booking 1</title>
</head>
<body>
    <header class="header" id="navigation-menu">
    <div class="container">
      <nav>
        <a href="/homepage" class="logo"> <img src="./img/logo.png" alt=""> </a>

        <ul class="nav-menu">
          <li> <a href="/homepage" class="nav-link">Home</a> </li>
          <li class="dropdown"><a href="/category">Category</a>
            <ul class="isi-dropdown">
              <li><a href="/rooms" class="nav-link">Rooms</a></li>
              <li><a href="/gallery" class="nav-link">Gallery</a></li>
            </ul>
          </li>
          <li> <a href="/facilities" class="nav-link">Facilities</a> </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="namapage">
      <p  onclick="kembali()" class="fas fa-arrow-alt-circle-left"> Kembali</p> 
        <script>
            function kembali() {
                window.history.back();
            }
        </script>
  </div>
  
        
  <div class="lesson-wrapper">
      <div class="container">
        <div class="heading">
          <h1>Abeka Hotel's</h1>
        </div>

         
    <div class="mainscreen">
      <div class="card">
        <div class="leftside">
          <a> <img class="product" src="./img/1.png" alt=""></a>
          <h1>Standar Twin</h1>
          <p>Rp. 450.000 <span class="night">per night</span></p>
        </div>
        
        <div class="rightside">
          <form action="/tambah-databooking" method="post">
            <h1>Form Booking</h1>
            <p>Nama</p>
            <input type="text" class="inputbox"  name="nama_booking" required />
            <p>Alamat</p>
            <input type="text" class="inputbox"   name="alamat_booking"required />
            <p>Email</p>
            <input type="text" class="inputbox"  name="email_booking" required />
            <p>No Telepon</p>
            <input type="text" class="inputbox"  name="notelp_booking" required />
            <p>Jumlah Hari</p>
            <input type="number" class="inputbox"  name="jumlah_hari" required />
            <input type="submit" class="button"></input>
          </form>
          <a href="/booking2"><button class="button continue">Continue</button></a>
        </div>
      </div>
    </div>
    

    </div>


    
    
    
   
 
</body>

</html>
