<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/category.css">
  <link rel="stylesheet" href="./css/header.css">
  <link rel="stylesheet" href="./css/footer.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        
  <title>Category</title>
</head>
<body>
  <header class="header" id="navigation-menu">
    <div class="container">
      <nav>
        <a href="/homepage" class="logo"> <img src="./img/logo.png" alt=""> </a>

        <ul class="nav-menu">
          <li> <a href="/homepage" class="nav-link">Home</a> </li>
          <li class="dropdown"><a href="/category">Category</a>
            <ul class="isi-dropdown">
              <li><a href="/rooms" class="nav-link">Rooms</a></li>
              <li><a href="/gallery" class="nav-link">Gallery</a></li>
            </ul>
          </li>
          <li> <a href="/facilities" class="nav-link">Facilities</a> </li>
          <li> <a href="/booking1" class="keranjang">+ Book Now</a> </li>
        </ul>
      </nav>
    </div>
  </header>

      <section class="kelolaroom">
        
        <div class="namapage">
      <p  onclick="kembali()">Abeka Hotel /</p> 
      <a href="#category"> Category</a>
        <script>
            function kembali() {
                window.history.back();
            }
        </script>
  </div>
        <div class="kelola">
          <img src="./img/kelola.jpg">
          <h1 class="textjudul">Welcome To</h1>
          <h2 class="textjudul">Abeka <br> Hotel's</h2>
          <a href="#category"><button class="btn1">Show Me Now</button></a>
        </div>
      </section>
      
      <br><br><br>
      
      <div class="desc">
          <h3 class="section-tittle">Category</h3>
      </div>
      <% rooms.forEach((roomss,index) =>{%>
      <div class="catdetails">
        <div class="kirisatu">
          
          <img src="./img/1.png" href="#">
          
          <p class="harga"><%= roomss.nama_rooms%> <br> Tonight's Rate :<strong> Rp. <%= roomss.harga_rooms%></strong> </p>
          <a href="/rooms#standartwin"><button href="#" class="btncat">Details</button></a></div>
          
        </div>
        <div class="kanansatu">
          <img src="./img/7.png">
          <p class="harga"><%= roomss.nama_rooms%> <br> Tonight's Rate :<strong> Rp. <%= roomss.harga_rooms%></strong> </p>
          <a href="/rooms#standardouble"><button href="#" class="btncate">Details</button></a></div>
        </div>

      <% })%>
        <div class="kiridua">
          <img src="./img/10.png">
          <p class="harga">Deluxe <br> Tonight's Rate :<strong> Check Avaliability</strong> </p>
          <a href="/rooms#deluxe"><button href="#" class="btncat">Details</button></a></div>
        </div>
        <div class="kanandua" id="category">
          <img src="./img/7.png">
          <p class="harga">Family <br> Tonight's Rate :<strong> Rp. 850.000</strong> </p>
          <a href="/rooms#family"><button href="#" class="btncat">Details</button></a></div>
        </div>
      

      
        <div class="tigatengah">
          <img src="./img/9.png">
          <p class="harga">Family Deluxe<br> Tonight's Rate :<strong> Rp. 900.000</strong> </p>
          <a href="/rooms#deluxe"><button href="#" class="btncat">Details</button></a></div>
        </div>
      </div>
      
      
      <br><br><br>
      <div class="footer">
    <div class="footer-logo"><img src="./img/logo.png" alt=""></div>
    <div class="footer-nav">
      <ul>
        <li class="judul">Location</li>
        <li>Jl. Sumur Bandung No.7 Lebak Siliwangi,<br>Coblong Kota Bandung,<br>Jawa Barat 40132</li>
        <li>Tel: +62 (022) 2518998<br>Email: abekastaycation@gmail.com</li>
      </ul>
    </div>  
    <div class="footer-nav">
      <ul>
        <li class="judul">Follow</li>
        <li><a  class="social" href=""><span class="fab fa-facebook"></span></a></i> Facebook</li>
        <li><a  class="social" href=""><span class="fab fa-twitter"></span></a></i> Twitter</li>
        <li><a  class="social" href=""><span class="fab fa-instagram"></span></a></i> Instagram</li>
        
        
      </ul>
    </div> 
    <div class="footer-nav">
      <ul>
        <li class="judul">Connect Us</li>
        <li>abekastaycation@gmail.com</li>
        <li>069-69-6969-69</li>
        <li>Staycation, Bandung, Jakarta</li>
      </ul>
    </div>
   </div>
      

  

</body>
</html>