<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/dashboard.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
  <title>Dashboard</title>
</head>
<body>
    
  
  <div class="lesson-wrapper">
      <div class="container">
        <div class="heading">
          <h1>Abeka Hotel's</h1>
        </div>
        
    <div class="mainscreen">
         
        <div class="dashboard">
          
            <h1>Dashboard</h1>
            <p>Kategori</p>
            <a href="/admin"><button class="button">Kelola Kategori</button></a>
            <p>Pengunjung</p>
            <a href="/adminbooking"><button class="button">Kelola Pengunjung</button></a>
            <p>Kamar</p>
            <a href="/adminkamar"><button class="button">Kelola Kamar</button></a>
      </div>
    </div>
    

    </div>


    
    
    
   
 
</body>

</html>
