<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tambah Kategori</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>

<body style="background: lightgray">

     <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <form action="/update-edit/<%=kategori.id_kategori%>" method="post">
                            
                            <div class="form-group">
                                <label>Kategori</label>
                                <input type="text" class="form-control" name="nama_kategori"  placeholder="Masukkan Kategori Kamar" value="<%= kategori.nama_kategori %>"> 
                            </div>
                            <div class="form-group">
                                <label>Nama Kamar</label>
                                <input type="text" class="form-control" name="nama_kamar"  placeholder="Masukkan Nama Kamar"value="<%= kategori.nama_kamar %>" >
                            </div>
                            <div class="form-group">
                                <label>Harga Kamar</label>
                                <input type="number" class="form-control" name="harga_kamar"  placeholder="Masukkan Harga Kamar" value="<%= kategori.harga_kamar %>"> 
                            </div>
                            
                            
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button type="reset" class="btn btn-warning">RESET</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    </script>
</body>
</html>