<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/facilities.css">
  <link rel="stylesheet" href="./css/header.css">
  <link rel="stylesheet" href="./css/footer.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        
  <title>Facilities</title>
</head>
<body>
  <header class="header" id="navigation-menu">
    <div class="container">
      <nav>
        <a href="/homepage" class="logo"> <img src="./img/logo.png" alt=""> </a>

        <ul class="nav-menu">
          <li> <a href="/homepage" class="nav-link">Home</a> </li>
          <li class="dropdown"><a href="/category">Category</a>
            <ul class="isi-dropdown">
              <li><a href="/rooms" class="nav-link">Rooms</a></li>
              <li><a href="/gallery" class="nav-link">Gallery</a></li>
            </ul>
          </li>
          <li> <a href="/facilities" class="nav-link">Facilities</a> </li>
          <li> <a href="/booking1" class="keranjang">+ Book Now</a> </li>
        </ul>
      </nav>
    </div>
  </header>
      
      <section class="kelolaroom">
      <div class="namapage">
      <p  onclick="kembali()">Abeka Hotel /</p> 
      <a href="#facilities"> Facilities</a>
        <script>
            function kembali() {
                window.history.back();
            }
        </script>
      </div>
        <div class="kelola">
          <img src="./img/kelola.jpg">
          <h1 class="textjudul">Welcome To</h1>
          <h2 class="textjudul">Abeka <br> Hotel's</h2>
          <a href="#facilities"><button class="btn1">Show Me Now</button></a>
      </section>
      
      <br><br><br>
      
      <div class="desc">
          <h3 class="section-tittle">Facilities</h3>
      </div>
      

      <div class="catdetails">
        <div class="kirisatu">
          <img src="./img/lobby.jpeg" href="#">
        </div>
        <div class="kanansatu">
          <p class="isiteks"><strong class="strong">Lobby <br></strong><br>Our lobby provides a warm and cozy atmosphere that is comfortable and stylish. Modern feeling, promising you comfort to relax while waiting for check-in time. </p>
        </div>
        

       

        <div class="kiridua">
          <p class="isiteks"><strong class="strong">Meeting Rooms <br></strong><br>Abeka Hotel' has 3 Meeting rooms. That can accommodate up to 150 people. Facilities including LCD Projector, screen and standard sound system. It is an ideal venue to venue to host meetings, converences, seminars and social event. </p>
        </div>
        <div class="kanandua">
          <img src="./img/meeting.jpg">
        </div>
        

         

        <div class="kirisatu">
          <img src="./img/sky.jpg"  href="#">
        </div>
        <div class="kanansatu">
          <p class="isiteks"><strong class="strong">Sky Lounge <br></strong><br>Discussing Business or just a short meet with client, we have sky lounge for this activity. Our spacious and luxurious design will make your meeting more cozy, just ask our staff to order a drink or a platter to complete your business talk.Seating Capacity is 20 seats Located on sky lounge <br>Phone: +62 22 251 8998 Ext. 0</p>
        </div>


        <div class="tigadua" >
          <p class="isiteks"><strong class="strong">Restaurant <br></strong><br>Your Venue for breakfast, lunch or dinner. Our spacious Kalya Restaurant can provide up to 30 guest with comfort decoration. <br>Seating Capacity is 30 seats Located on G floorHours of Operation: 06:00 a.m – 08:00 p.m Breakfast: 06:00 – 10:00 a.m </p>
        </div>
        <div class="kanandua">
          <img src="./img/restaurant.jpg">
        </div>
      </div>
        
        

      <div class="faceq" id="facilities">
          <h3 class="section-tittle2">Facilities and Equipment</h3>
      </div>


      <div class="equipment" id="equipment">

        <div class="language">
          <ul>
            <li class="jdl">Language</li>
            <li><i class='fas fa-flag'></i> Indonesia</li>
            <li><i class='fas fa-flag'></i> English</li>
          </ul>
        </div>
        <div class="acces">
          <ul>
            <li class="jdl">Disabled Access</li>
            <li><i class='fas fa-wheelchair'></i> Wheelcair Access</li>
          </ul>
        </div>

        <div class="internet">
          <ul>
            <li class="jdl">Internet Acces</li>
            <li><i class='fas fa-wifi'></i> WiFi in public areas</li>
            <li><i class='fas fa-wifi'></i> Free WiFi in all Rooms</li>
          </ul>
        </div>

        <div class="food">
          <ul>
            <li class="jdl">Food and Drink</li>
            <li><i class='fas fa-coffee'></i> Coffe Shop</li>
            <li><i class='fas fa-concierge-bell'></i> Room Service</li>
            <li><i class='fas fa-truck'></i> Gracery Delivery</li>
            <li><i class='fas fa-utensils'></i> Restaurant</li>
            <li><i class='fas fa-moon'></i> Halal Restaurant</li>
          </ul>
        </div>
        <div class="transport">
          <ul>
            <li class="jdl">Transportation</li>
            <li><i class='fas fa-shuttle-van'></i> Shuttle Service</li>
            <li><i class='fas fa-taxi'></i> Taxi Service</li>
            <li><i class='fas fa-car-side'></i> Car Rental</li>
            <li><i class='fas fa-parking'></i> Onsite Parking</li>
            <li><i class='fas fa-parking'></i> Free Car Park</li>
          </ul>
        </div>

        
        <div class="service">
          <ul>
            <li class="jdl">Service and Facilities</li>
            <li><i class='fas fa-smoking'></i> Smoking Area</li>
            <li><i class='fas fa-check-circle'></i> Contact-Free check-in/check-out</li>
            <li><i class='fas fa-key'></i> Concierge</li>
            <li><i class='fas fa-wheelchair'></i> Facilities for disabled guests</li>
            <li><i class='fas fa-box'></i> Valuables Storage Box</li>
          </ul>
        </div>
        <div class="allrooms">
          <ul>
            <li class="jdl">Available in all rooms</li>
            <li><i class='fas fa-snowflake'></i> AC</li>
            <li><i class='fas fa-check-circle'></i> Separate Air Conditioner</li>
            <li><i class='fas fa-prescription-bottle'></i> Bottled Mineral Water</li>
            <li><i class='fas fa-wifi'></i> Internet Acces - WiFi</li>
            <li><i class='fas fa-wifi'></i> Free Wifi Acces</li>
            <li><i class='fas fa-smoking'></i> Smoke Free</li>
          </ul>
        </div>


        

        <div class="activities">
          <ul>
            <li class="jdl">Activities and leisure facilities</li>
            <li><i class='fas fa-swimming-pool'></i> Outdoor Pool</li>
            <li><i class='fas fa-hot-tub'></i> Massage</li>
            <li><i class='fas fa-spa'></i> Spa</li>
          </ul>
        </div>


      </div>


    <div class="footer">
      <div class="footer-logo"><img src="./img/logo.png" alt=""></div>
      <div class="footer-nav">
        <ul>
          <li class="judul">Location</li>
          <li>Jl. Sumur Bandung No.7 Lebak Siliwangi,<br>Coblong Kota Bandung,<br>Jawa Barat 40132</li>
          <li>Tel: +62 (022) 2518998<br>Email: abekastaycation@gmail.com</li>
        </ul>
      </div>  
      <div class="footer-nav">
        <ul>
          <li class="judul">Follow</li>
          <li><a  class="social" href=""><span class="fab fa-facebook"></span></a></i> Facebook</li>
          <li><a  class="social" href=""><span class="fab fa-twitter"></span></a></i> Twitter</li>
          <li><a  class="social" href=""><span class="fab fa-instagram"></span></a></i> Instagram</li>
        </ul>
      </div> 
      <div class="footer-nav">
        <ul>
          <li class="judul">Connect Us</li>
          <li>abekastaycation@gmail.com</li>
          <li>069-69-6969-69</li>
          <li>Staycation, Bandung, Jakarta</li>
        </ul>
      </div>
   </div>
  

</body>
</html>