<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/index.css">
 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <title>Homepage</title>
</head>
<body>

  
  <div class="container">
    <a href="" class="logo"> <img src="./img/logo.png" alt=""></a>
    <div class="pilihan">
      <h1>Hallo Selamat Datang di Abeka Hotel's</h1>
      <h2>Siapakah Anda ? </h2>        
    </div>
    <div class="button">
        <a href="/loginadmin"><button class="btn admin">Admin</button></a>
        <a href="/homepage"><button class="btn user">User</button></a>
    </div>
  </div>

  
   


</body>
</html>