<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/login.css">
  <link rel="stylesheet" href="./css/header.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
  <title>Login Admin</title>
</head>
<body>
    <header class="header" id="navigation-menu">
    <div class="container">
      <nav>
        <a href="/" class="logo"> <img src="./img/logo.png" alt=""> </a>

        <ul class="nav-menu">
          <li> <a href="" class="nav-link">Kategori</a> </li>
          <li> <a href="" class="nav-link">Pengunjung</a></li>
          <li> <a href="" class="nav-link">Rating</a> </li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div class="lesson-wrapper">
      <div class="container">
        <div class="heading">
          <h1>Abeka Hotel's</h1>
        </div>
        
    <div class="mainscreen">
         
        <div class="formlogin">
          <form action="/loginadmin" method="post">
            <h1>Login Admin</h1>
            <p>Username</p>
            <input type="text" class="inputbox"  name="username" required />
            <p>Password</p>
            <input type="password" class="inputbox"   name="password"required />
            <input type="submit" class="button"></input>
          </form>  
      </div>
    </div>
    

    </div>


    
    
    
   
 
</body>

</html>
