@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  quotes: none;
  text-decoration: unset;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0px auto;
  overflow-x: hidden;

}
.container {
  max-width: 80%;
  margin: auto;
}

.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 200px;
  height: 160px;
  border-radius: 30px;
}

/* pilihan */
.pilihan {
  margin-top: 40px;
  color: #152c5b;
  background-color: rgba(217,217,217,0.8);
  border-radius: 30px;
  text-align: center;
}

.admin,.user{
  cursor: pointer;
  padding: 40px 80px;
  border-radius: 30px;
  margin-top: 50px;
  font-weight: bold;
  font-size: 24px;

}

.admin {
  color: #FFFFFF;
  background-color: #152C5B;
  margin-left: 200px;
}

.user {
  color: #FFFFFF;
  background-color: #366536;
  margin-left: 100px;
}